name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew Cask
        uses: macauley/action-homebrew-bump-cask@v1
        with:
          token: ${{secrets.BREW_TOKEN}}
          org: frankea  # Your GitHub org/user
          cask: whisky
